useDynLib(CNAnorm)

import(methods)
importFrom(DNAcopy, CNA, smooth.CNA, segment)
export(dataFrame2object, CNAnormWorkflow)
exportClasses(CNAnorm, InData, DerivData, Params)
exportMethods(gcNorm, chrs, arms, pos, "chrs<-", "pos<-", 
    ratio, ratio.n, ratio.s, ratio.s.n, segMean, 
    segMean.n, addSmooth, addDNACopy, plotPeaks, plotGenome, peakPloidy,
    sugg.ploidy, sugg.peaks, valid.ploidy, valid.peaks, validation, 
    exportTable, discreteNorm )
